services:
  app:
    container_name: app
    build: .
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: .
          target: /var/www
    depends_on:
      mysql:
        condition: service_healthy
    restart: always

  mysql:
    container_name: mysql
    image: mysql:9.5
    ports:
      - "3306:3306"
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "mysqladmin ping -h localhost -u${MYSQL_USER} -p${MYSQL_PASSWORD} || exit 1",
        ]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: always

  phpmyadmin:
    container_name: phpmyadmin
    image: phpmyadmin:5.2-apache
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    depends_on:
      mysql:
        condition: service_healthy
    restart: always

  web:
    container_name: web
    image: nginx:1.29-alpine
    ports:
      - "80:80"
    volumes:
      - ./public:/var/www/public
      - ./docker/nginx:/etc/nginx/conf.d
    depends_on:
      - app
    restart: always

networks:
  default:
    driver_opts:
      com.docker.network.bridge.host_binding_ipv4: 127.0.0.1

volumes:
  mysql_data:
